:root {
	--base: #a33a1c;
	--spacing: 10px;
	--blur: 10px;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #090f25;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	padding: var(--spacing);
	background-color: var(--base);
	filter: blur(var(--blur));
	margin-top: 50px;
}

h1 {
	color: white;
	font-size: 50px;
	font-family: sans-serif;
}

#js {
	color: var(--base);
}

label {
	color: white;
	font-size: 30px;
	font-family: "Work Sans", sans-serif;
	font-weight: 100;
}